<div class="recipes-container">
    <h3>Platos populares</h3>
    <div class="recipes-popular">
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
    </div>
    <div class="recipes-list-container">
        <h3>Recetas</h3>
        <ul class="recipes-list">
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
        </ul>
    </div>
</div>
