<div class="recipes-container">
    <h3>Platos populares</h3>
    <div class="recipes-popular">
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
    </div>
    <div class="recipes-list">

    </div>
</div>
