<div class="recipes-container">
    <h3>Platos populares</h3>
    <div class="recipes-popular">
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
        <div class="recipe-item">
            <img src="/assets/lomo-saltado.jpg" alt="plato de comida">
            <p>Tets</p>
        </div>
    </div>
    <div class="sobre-nosotros">
        <div class="nosotros-info">
            <div class="icon-container">
                <lottie-player src="https://lottie.host/931c4f56-dd81-4ecf-bfe6-13e57f5c25c1/BS1dJOIqOV.json" style="width: 600px"  background="transparent"  speed="1" loop  autoplay>
                </lottie-player>
            </div>
            <div class="content-container">
                <h3>Nosotros</h3>
                <p>Bienvenidos a Comida Peruan, un rincón virtual dedicado a la rica y variada cocina peruana.
                    Nos apasiona compartir la autenticidad de los sabores peruanos a través de un compendio de recetas
                    cuidadosamente seleccionadas. Aquí, los amantes de la gastronomía pueden explorar platos
                    tradicionales, descubrir los secretos de su preparación y sumergirse en la deliciosa diversidad
                    culinaria que Perú tiene para ofrecer.

                    Nuestra misión va más allá de ser un simple recetario en línea. Nos esforzamos por brindar una
                    experiencia completa, permitiendo a los usuarios no solo aprender a cocinar platos exquisitos, sino
                    también conocer la historia y la cultura que hay detrás de cada receta. Además, para aquellos que
                    desean contribuir a nuestra comunidad, ofrecemos una sección exclusiva de administración que permite
                    compartir nuevas recetas y enriquecer aún más nuestra plataforma.

                    En Comida Peruan, fusionamos la tradición con la tecnología para crear un espacio donde la
                    cocina peruana cobra vida. Únete a nosotros en este viaje culinario, donde la pasión por la buena
                    comida se encuentra con la comodidad digital. ¡Explora, aprende y saborea la auténtica experiencia
                    de la cocina peruana con nosotros!</p>
            </div>
        </div>
    </div>
    <div class="recipes-list-container">
        <h3>Recetas</h3>
        <ul class="recipes-list">
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
            <li class="recipes-list--item">
                <img src="/assets/ceviche.jpg" alt="">
                <h4>Ceviche</h4>
                <div class="recipe-review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Plato preparado con pescado ...</p>
            </li>
        </ul>
    </div>
</div>