<div class="footer-container">
    <div class="logo-container">
        <img src="/assets/ComidaPeruanaLogo.png" alt="logo empresa">
        <div class="footer-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    <div class="footer-menu">
        <ul>
            <li>Sobre nosotros</li>
            <li>Recetas</li>
            <li>Equipo</li>
            <li>Calificaciones</li>
        </ul>
    </div>
</div>
