<div class="team-container">
    <h3>Conoce nuestro equipo</h3>
    <p>Nosotros somos los creadores de este sitio web conocenos</p>
    <div class="team-member-container">
        <div class="team-member-item">
            <img src="/assets/user.jpg" alt="imagen de usuario">
            <div class="member-info">
                <h4>Manuel Huaman</h4>
                <h5>Job title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <div class="member-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="team-member-item">
            <img src="/assets/user.jpg" alt="imagen de usuario">
            <div class="member-info">
                <h4>Manuel Huaman</h4>
                <h5>Job title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <div class="member-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="team-member-item">
            <img src="/assets/user.jpg" alt="imagen de usuario">
            <div class="member-info">
                <h4>Manuel Huaman</h4>
                <h5>Job title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <div class="member-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="team-member-item">
            <img src="/assets/user.jpg" alt="imagen de usuario">
            <div class="member-info">
                <h4>Manuel Huaman</h4>
                <h5>Job title</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <div class="member-social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</div>
