<div class="banner-container">
    <div class="banner-titles">
        <div class="banner-logo">
            <img src="/assets/ComidaPeruanaLogo.png" alt="logo empresa">
        </div>
        <h1>¡Experimenta todos los sabores peruanos donde estes!</h1>
        <p>Sumérgete en sabores auténticos que capturan la esencia culinaria de Perú, todo en un solo lugar.
            ¡Descubre el placer de la gastronomía peruana en cada bocado!</p>
        <div class="banner-animation">
            <lottie-player src="https://lottie.host/5f076d3e-af14-44a8-837e-e47ed98f93a5/MxAUnDhs9E.json" style="width: 100px"  background="transparent"  speed="1" loop  autoplay>
            </lottie-player>        
        </div>
    </div>
    <img src="/assets/cocina-peruana.jpg" alt="plato de comida">
</div>
